@charset "UTF-8";
/*/
  *  ┌──────────────────────────────────┐
  *  │ |> Custom Styles - to go here    │
  *  └──────────────────────────────────┘
/*/
/* Align */
.align-start {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-end {
  text-align: right;
}

/* Display */
div[qp-hidden="true"] {
  display: none;
}

.gavel-save-layer-status::after {
  margin: 0 10px;
}
